body{
	margin: 0;
	font-family: Courier;
	font-size: 20px;
	background-color: #E0E0E0;
	max-width: 100%;
	overflow-x: hidden;
}
#center_content {
	position: absolute;
	top: 75%;
	max-width: 100%;
	width: 100%;
	margin-bottom: 5%;
}
.header {
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.center_item {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
.topic {
	margin-top: 5%;
	position: relative;
	display:block;
	width: 50%;
	text-align: center;
	left: 100px;
}
.topic_mobile {
	margin-top: 5%;
	// position: relative;
	display:block;
	// width: 50%;
	// text-align: center;
	margin-left: 20px;
	font-size: 20px;
}
.icon {
	margin-top: 20px;
	display: block;
}
.icon_mobile {
	margin-bottom: 20px;
	display: block;
}
#icons {
	position: absolute;
	top:40px;
	width:50px;
	margin-left: 55%;
	z-index: 1;
}
#icons_mobile {
	position: absolute;
	top:40px;
	width:50px;
	margin-left: 55%;
	z-index: 1;
}
.intro_line_item {
	vertical-align: middle;
	// display: inline-block;
	// width: 50%;
	margin-left: 51%;
}
#contact_me {
	margin-top: 135px;
	float: right;
	max-height: 30%;
	height: 300px;
	width: 42px;
}
#left_column {
	position: absolute;
	max-width: 50%;
	right: 50%;
	height:5000px;
	left: 0;
	margin: 0;
}
.left_item {
	max-width: 100%;
	width: 100%;
}
#right_column {
	position: absolute;
	max-width: 50%;
	max-height: 70%;
	left: 50%;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 0;
}
#profile_pic {
	border:  1px solid #8AACB8;
	border-radius: 100%;
	max-width: 350px;
	width: 30%;
	margin: 0;
	margin-left:200px;
}
#profile_pic_mobile {
	border:  1px solid #8AACB8;
	border-radius: 100%;
	max-width: 350px;
	width: 50%;
	margin-left: 10px;
}
#video {
	box-sizing: border-box;
	border: 6px solid #00f;
	border-radius: 5px;
}
#video:hover {
	border: 6px solid #8AACB8;
}
.media_item {
	max-width: 100%;
	display: inline-block;
	margin: 5%;
	margin-top: 10%;
}
.mobile_vertical {
	margin-bottom: 30px;
	position: relative;
	display: block;
}
#ned {
	color: purple;
	font-weight: bold;
	font-size: 23px;
}
#quotes {
	width: 60%;
	left: 20%;
	padding: auto;
}
#quotes_mobile {
	width: 100%;
}
.quote {
	max-width: 100%;
	display: inline-block;
	margin-left: 20%;
	margin-right: 18%;
}
.quote a {
	color: blue;
}
.quote_mobile {
	font-size: 14px;
	max-width: 100%;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}
.quote_mobile a {
	font-size: 14px;
	color: blue;
}
a {
	color: green;
	font-weight: bold;
	text-decoration: none;
	font-size: 23px;
}
a:hover {
	color: orange;
}
#name {
	font-size: 60px;
	color: #0000ff;
}
#greet{
	text-align: center;
	font-size: 40px;
	background-color: #888888;
}
#greet_mobile{
	text-align: center;
	font-size: 30px;
	background-color: #888888;
}
p {
	font-size: 20px;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
#buttons {
	position: absolute;
	width: 100%;
	bottom: -50px;
	left: -15%;
	z-index: 2;
}
#nav_buttons {
	position: absolute;
	width: 100%;
	bottom: -50px;
	left: -15%;
	z-index: 2;
}
.project_button {
	display: block;
	text-align: center;
	height: 60px;
	width: 300px;
	border: 3px solid black;
	border-radius: 8px;
	margin: 10px;
	margin-left: -3px;
	background-color: white;
	bottom: 0;
	color: #f00
}
.project_button_mobile {
	display: block;
	text-align: center;
	height: 40px;
	width: 180px;
	border: 3px solid black;
	border-radius: 8px;
	margin: 10px;
	margin-left: -3px;
	background-color: white;
	bottom: 0;
	color: #f00
}
.project_button_mobile p {
	font-size: 12px;
}
.button {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	height: 45px;
	width: 33.333%;
	border: 2px solid black;
	border-radius: 4px;
	margin: 0;
	margin-left: 0;
	background-color: #888888;
	bottom: 0;
	color: #000;
	z-index: 1;
	cursor: pointer;
}
.button_mobile {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	height: 45px;
	width: 33.333%;
	border: 2px solid black;
	border-radius: 4px;
	margin: 0;
	margin-left: 0;
	background-color: #888888;
	bottom: 0;
	color: #000;
	z-index: 2;
	cursor: pointer;
}
.button p {
	vertical-align: middle;
	margin-top: 10px;
}
.button_mobile p {
	font-size: 11px;
	vertical-align: middle;
	margin-top: 15px;
}
.button:hover {
	background-color: #f00;
	border: 2px solid black;
	color: white;
}
.intro {
	display: block;
	margin-top:10px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}
.intro_mobile {
	display: block;
	margin: 0;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
	font-size: 15px;
}
#chart {
	right: 0;
	position: absolute;
	top:25px;
	height: 400px;
	width: 400px;
	z-index: -1;
}
#chart_mobile {
	right: 0;
	position: absolute;
	top:25px;
	height: 200px;
	width: 200px;
	z-index: -1;
}
#warning {
	color: red;
	font-size: 35px;
}
#occupation {
	position: absolute;
	text-align: center;
	padding-top: 160px;
	left: auto;
	right: auto;
	bottom: 0;
	top: 0;
}
#occupation_mobile {
	position: absolute;
	text-align: center;
	padding-top: 160px;
	left: auto;
	right: auto;
	bottom: 0;
	top: 0;
}
.occupation_detail {
	margin-bottom: 20px;
	padding: 0;
	font-size: 16px;
	padding-right: 1%;
}
#occ {
	position: absolute;
	right: 40px;
	top: 140px;
}
#occ_mobile {
	position: absolute;
	right: 10px;
	top: 70px;
}
#occ_mobile p {
	font-size: 11px;
	width: 100px;
}
#occ p {
	width: 200px;
}
#projects {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
.form_item {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 18px;
}
#form {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#form_mobile {
	width: 100%;
}
#form_submit {
	width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 18px;
}
#message {
	height: 150px;
}
.home_links {
	list-style-type: none;
    margin: 0;
    margin-top:15px;
    padding: 0;
    max-width: 630px;
    margin-left:auto;
    margin-right: auto;
}
.home_links a {
	color: black;
}
.home_links a:hover {
	color: blue;
}
#project_list {
	list-style-type: none;
}
#umna_title {
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
}
